.page-plugin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-direction: row;
}

.page-plugin>div {
    margin-left: 20px;
}

.page-plugin .page-index {
    display: flex;
}

.page-plugin .page-index>div {
    padding: 5px 12px;
    border: 1px solid #999;
    color: #999;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
    /* 防止div文本被鼠标选中 */
}

.page-plugin .page-index>div:hover {
    border: 1px solid #3ebd9b;
    color: #8eecd3;
}

.page-plugin .page-index .active {
    border-color: #3ebd9b;
    color: #fff;
    background: #3ebd9b;
}

.page-plugin .page-index>div+div {
    margin-left: 10px;
}